{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}
  <!-- TABLAS PARA EL CRUD -->
  
  <div class="container">
    <br>
    {%  include 'web/status.html' %}
    <br>
    <br>
    <table class="table table-striped custab">
      <thead>
        <a href="{% url 'addproducto' %}" class="btn btn-warning btn-xs pull-right">AGREGAR ASISTENTE<b></b></a>
        <a href="{% url 'stockproduct' %}" class="btn btn-success btn-xs pull-right">VER ASISTENTES<b></b> </a>

        <a href="{% url 'contactcrud' %}" class="btn btn-success btn-xs pull-right">VER VISITAS MEDICAS<b></b> </a>
        <br>
        <tr>
          <br>
          <th>ID</th>
          <th>GENERO</th>
          <th>EMPRESA</th>
          <th>NOMBRE APELLIDO</th>
          <th>TIPO DE CAPACITACION</th>
          <th>brand</th>
          <th>RUT (sin digito verificador)</th>
          <th>FOTO DE TRABAJADOR</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      {% for p in entity %}
        <tr>
          <td>{{ p.id | title}}</td>
          <td>{{ p.gender | title}}</td>
          <td>{{ p.name | title}}</td>
          <td>{{ p.size | title}}</td>
          <td>{{ p.type | title}}</td>
          <td>{{ p.brand | title}}</td>
          <td>{{ p.price | title}}</td>
          <td>{{ p.img | title}}</td>
          <td class="text-center">
          <a href="{% url 'editproduct' p.id%}" class='btn btn-info btn-xs'><span class="glyphicon glyphicon-edit"></span> Edit</a> 
          <a href="{% url 'deleteproduct' p.id%}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a> </td>
        </tr>
      {% endfor %}
    </table>
    <br>
    <div
      {% if messages %}
        {% for m in messages %}

          <div> {{m}} </div>

        {% endfor %}
      {% endif %}
    </div>
  </div>
  <br>
  <div>
    {% include 'web/pagination.html'  %}
  </div>
  <br>
{% endblock contenido %}